.form-control:focus {
    box-shadow: none;
    border-color: #495057;
}

button:focus{
    border-color: #495057;
    box-shadow: none;
}

.alert {
    display:flex;
    margin-left: 15px;
    max-width: 97.4%;
}